.tarea-contenedor{
    width: 550px;
    min-height: 65px;/*para que se expanda de la altura*/
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;/*para que los elementos se distribullan */
    align-items: center;/*alinienrlos al centro verticalmente */
    border-radius: 10px;
    border: 3px solid rgb(235, 189, 244);/*borde sin fondo recuerda agregar el solid*/
    box-shadow: 0 0 5px 2px rgba(235, 171, 231, 0.6); /* Sombra rosa */
    cursor: pointer;
}
.tarea-texto{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap:anywhere ;/*corta el texto y lo agrega abajo */
    color: rgb(135, 4, 117);
    font-size: 14px;/*tamaño de la letra*/
    font-family:"Comic Sans MS", cursive, fantasy;
}
.tarea-contenedor.completada{
    background-color: rgba(246, 158, 249, 0.84);
    text-decoration:line-through 2px ; /*texto tachado */
}
.tareas-iconos{
    width: 10px;
    height: 20px;
    margin: 15px;
    font-size: 25px;

}
.tarea-icono{
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}
