*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*tamaño de la caja*/
}
html,
body {
 
  background-image: url("./imagenes/97.jpeg");
  background-size: cover;  /* la imagen cubra toda la pantalla */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat;  /* Evita que la imagen se repita */

}
h1{
  color :rgb(156, 7, 201);
  font-size: 25px;/*tamaño de la letra*/
  font-family:"Comic Sans MS", cursive, fantasy;
  text-align:center;
  margin: 20px 0;
}
.tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo-contenedor{
  width: 100%;
  margin: 20 px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 15vw; /* 20% del ancho de la ventana */
  height: auto; /* Mantiene la proporción */
  margin: 0;
  border-radius: 20px;
}

.lista-principal{
  width: 600px;
  min-height: 400px;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  border: 3px solid rgb(235, 189, 244);/*borde sin fondo recuerda agregar el solid*/
  box-shadow: 0 0 15px 5px rgba(247, 122, 238, 0.6); /* Sombra rosa */
}

